src/assets/images/dog.jpg filter=lfs diff=lfs merge=lfs -text
src/assets/fonts/OpenSans-Regular.woff2 filter=lfs diff=lfs merge=lfs -text
src/assets/fonts/OpenSans-Bold.woff2 filter=lfs diff=lfs merge=lfs -text
